<html>
<head></head>
<body>
<div style="..." id="table">
  <p-table id="table-employee-list" dir="rtl" [value]="employeeList">
<ng-template pTemplate="header">
<tr>
  <th>Id</th>
  <th>Lastname</th>
  <th>Salary</th>
  <th>Age</th>
  <th>Delete</th>
</tr>
</ng-template>
    <ng-template ptemplate="body" let-employee>
      <tr>
        <td>{{employee.id}}</td>
        <td>{{employee.employee_name}}</td>
        <td>{{employee.employee_salary}}</td>
        <td>{{employee.employee_age}}</td>
        <td><button pButton type="button" label="Delete" class="ui-button-raised ui-button-secondary"></button></td>
      </tr>
    </ng-template>
  </p-table>
</div>
</body>
</html>
